examples/statemachines/pattern.yaml
project: statemachines
bucket: my-aws-buckets

description: Shows state machines.

function_runtime: python3.6
function_timeout: 5

resources:
  DoStateAction:
    type: function
    description: Does test action for state machine state.
    handler: do_state_action.handler
    code_uri: ./sources/do_state_action.py
    tags:
      Name: DoStateAction function

  StateMachine:
    type: statemachine
    definition:
      Comment: This is a comment
      StartAt: start
      States:
        start:
          Type: Pass
          ResultPath: $.start-status
          Result:
            started: true
          Next:
            check-input
        check-input:
          Type: Choice
          Choices:
            - Variable: $.data.count
              NumericLessThanEquals: 0
              Next: set-error
          Default: calculate
        set-error:
          Type: Pass
          ResultPath: $.error
          Result:
            message: '"count" is out of range'
          End: true
        calculate:
          Type: Task
          Resource: ${DoStateAction}
          InputPath: $.data
          ResultPath: $.data
          Next: check-value
        check-value:
          Type: Choice
          Choices:
            - Variable: $.data.count
              NumericGreaterThan: 0
              Next: calculate
          Default: end
        end:
          Type: Pass
          ResultPath: $.end-status
          Result:
            ended: true
          End: true
    definition_args:
      DoStateAction: !GetAtt DoStateAction.Arn
    role_statement:
      - Effect: Allow
        Action: lambda:InvokeFunction
        Resource: !GetAtt DoStateAction.Arn
